.section-path {
  background-color: #ececec;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20rem 0; }

.card-container {
  width: 22rem;
  height: 25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  perspective: 100rem;
  margin-bottom: 1rem; }

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.8s;
  transform-style: preserve-3d;
  margin: 2rem; }

.card-container:hover .card {
  transform: rotateY(180deg); }

.card figure {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.416); }

.card .front {
  background: #005C97;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #363795, #005C97);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #363795, #005C97);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: pink; }

.card .back {
  background: #fc4a1a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right bottom, #f7b733, #fc4a1a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right bottom, #f7b733, #fc4a1a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transform: rotateY(180deg);
  backface-visibility: hidden; }
  .card .back p {
    margin-top: 40%; }

.front img {
  background-blend-mode: lighten;
  width: 80%; }

.button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em; }
  .button.type3 {
    color: #435a6b; }
  .button.type3::after, .button.type3::before {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px; }
  .button.type3::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #435a6b;
    border-right-color: #435a6b; }
  .button.type3::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #435a6b;
    border-left-color: #435a6b; }
  .button.type3:hover:after, .button.type3:hover:before {
    border-bottom-color: #435a6b;
    border-right-color: #435a6b;
    border-top-color: #435a6b;
    border-left-color: #435a6b;
    width: 100%;
    height: 100%; }

@keyframes anim {
  from {
    opacity: 0;
    transform: translateX(-10rem); }
  to {
    opacity: 1;
    transform: translateX(0); } }

.main-nav {
  z-index: 100;
  text-align: center;
  background-color: #49398b;
  top: -1000px;
  left: 0;
  position: fixed;
  width: 100%;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh; }

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  flex-wrap: nowrap; }

.nav-container li {
  list-style-type: none;
  float: left;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
  text-align: center; }
  .nav-container li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1rem 1rem;
    border-radius: 3px;
    transition: background-color 1s ease-out; }
    .nav-container li a:hover {
      background-color: rgba(247, 247, 247, 0.4);
      color: #49398b; }

.nav__button {
  z-index: 100;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2rem; }
  .nav__button-circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: indigo;
    border: 3px solid  black;
    padding: 8px; }
  .nav__button-arrow {
    width: 100%;
    height: 100%;
    background-color: chocolate;
    z-index: 100;
    clip-path: polygon(0% 40%, 20% 40%, 20% 100%, 80% 100%, 80% 40%, 100% 40%, 50% 0%); }

.burger {
  margin: 16px;
  display: none; }
  .burger-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3px;
    width: 30px;
    height: 5px;
    background-color: darkgray;
    z-index: 100; }

.logo {
  color: #dadada;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: uppercase;
  min-height: 8vh;
  padding: 1rem 1rem;
  font-family: 'Cairo', sans-serif; }

@media screen and (max-width: 1000px) {
  .nav-list {
    width: 100%;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    flex-direction: row; }
    .nav-list li {
      padding: 0.7rem 1rem; } }

@media screen and (max-width: 786px) {
  .burger {
    display: block;
    cursor: pointer; }
  .nav-list {
    position: absolute;
    width: 33%;
    height: 92vh;
    top: 8vh;
    right: 0;
    transform: translateX(100%);
    background-color: #49398b;
    transition: transform 0.5s ease-in; }
    .nav-list ul {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center; }
      .nav-list ul li {
        margin-bottom: 6rem;
        font-size: 1.2rem;
        width: 80%; }
  .nav-list-toggle {
    transform: translateX(0%); }
  .main-nav {
    max-width: 100vw;
    min-width: 90vw; }
  body {
    overflow-x: hidden; }
  :root {
    font-size: 8px; }
  .demand__form {
    margin-top: 1rem; }
  .fullscreen-video-wrap {
    display: none; }
  .line1 {
    transform: translateY(3px) rotate(45deg); }
  .line2 {
    display: none; }
  .line3 {
    transform: translateY(-5px) rotate(-45deg); }
  .nav__button-arrow {
    clip-path: polygon(0% 50%, 50% 0%, 100% 50%); }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; } }

.section-comment {
  padding: 15rem 0;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

.story {
  width: 75%;
  margin: auto 0;
  padding: 4rem;
  padding-left: 7rem;
  background-color: white;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  transform: skewX(-12deg);
  margin-top: 2rem; }
  .story h3 {
    margin-bottom: 1.2rem; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transition: all 0.5s; }
    .story__img-2 {
      width: 100%;
      height: 100%; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    transform: translate(-50%, 20%);
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img,
  .story:hover .story__img-2 {
    filter: blur(3px); }

.faq {
  padding: 6rem 0;
  background-color: #ececec;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column; }
  .faq h3 {
    text-transform: uppercase;
    color: #49398b;
    font-size: 2rem;
    margin-bottom: 1rem; }

.question__button {
  background-color: #ececec;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: left;
  width: 90%;
  padding: 1rem 0;
  padding-right: 10rem;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(124, 123, 123, 0.562); }
  .question__button-active {
    background-color: #49398b;
    opacity: 0.8; }
  .question__button-active::before {
    content: "\2796"; }
  .question__button::before {
    content: '\02795';
    color: white;
    font-size: 1rem;
    float: left;
    margin-right: 1rem; }
  .question__button:hover {
    background-color: #49398b;
    opacity: 0.8;
    color: #fff; }

.content {
  display: none; }

.content-new {
  padding: 2rem 1rem;
  display: inline-block;
  overflow: hidden;
  width: 50%;
  height: auto; }

.brochure {
  padding: 10rem 0;
  background-color: #dbc8d9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }
  .brochure > h3 {
    text-transform: uppercase;
    color: #49398b;
    font-size: 2rem;
    margin-bottom: 3rem; }

.demand {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../../cm5.jpg");
  background-size: cover;
  box-shadow: 0 1.5rem 4rem rgba(84, 83, 85, 0.568);
  width: 80%;
  height: 30rem;
  border-radius: 5px; }
  .demand__form {
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 50%;
    padding: 1rem; }

.form__group {
  margin-bottom: 1rem;
  margin-left: 2.3rem;
  position: relative; }

.form__input {
  padding: 1.5rem 0;
  padding-right: 2rem;
  padding-left: 5px;
  padding-bottom: 3px;
  font-size: 1rem;
  border-radius: 2px;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 3px solid transparent;
  margin-bottom: 1rem;
  color: #36648B; }

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(84, 83, 85, 0.568);
  border-bottom: 3px solid #49398b; }

.form__label {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%; }

.form__span {
  position: absolute;
  bottom: 0;
  padding-bottom: -5px;
  padding-left: 5px;
  transition: all 0.5s ease-out;
  pointer-events: none; }

.new {
  position: absolute;
  bottom: 90%;
  padding-left: 5px;
  color: #49398b; }

.form__radio {
  width: 50%;
  display: inline-block;
  margin-top: 2rem;
  font-size: .8rem; }
  .form__radio-item {
    display: none; }
  .form__radio-label {
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    padding-left: 1.7rem;
    margin-left: 1rem; }
  .form__radio-button {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid #49398b;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem; }
    .form__radio-button::after {
      content: '';
      height: .5rem;
      width: .5rem;
      background-color: #49398b;
      border: 1px solid #49398b;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0; }
  .form__radio-item:checked ~ .form__radio-label > .form__radio-button::after {
    opacity: 1; }

.submit__button {
  display: block;
  float: right;
  width: 50%;
  height: 2rem; }
  .submit__button-item {
    width: 4rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #49398b;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0.2rem 0.3rem rgba(84, 83, 85, 0.568); }
    .submit__button-item:hover {
      opacity: 0.85;
      color: #fff; }
    .submit__button-item:active {
      transform: translateY(2px);
      box-shadow: 0 1rem 1rem rgba(84, 83, 85, 0.568); }

.footer {
  padding: 9rem 0;
  background-color: rgba(7, 1, 6, 0.945); }
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;
    height: 90%; }
    .footer__container > div {
      margin-left: 1rem;
      color: #fff;
      text-transform: uppercase; }
      .footer__container > div > p {
        font-size: 0.6rem;
        color: gray;
        padding-top: 1rem; }
    .footer__container-menu {
      text-decoration: none;
      list-style: none;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start; }
      .footer__container-menu li a {
        text-decoration: none;
        color: gray; }
      .footer__container-menu-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-top: 1rem; }
    .footer__container-post-list {
      text-decoration: none;
      list-style: none;
      color: gray;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      padding-top: 1rem; }
      .footer__container-post-list a {
        margin-top: 1rem;
        color: gray; }
        .footer__container-post-list a:hover {
          color: indigo;
          opacity: 0.85; }
    .footer__container-newsletter-container {
      color: #cfc2c2;
      margin-top: 1rem; }
      .footer__container-newsletter-container::after {
        content: 'Sign Up';
        width: 70px;
        height: 20px;
        color: gray;
        background-color: indigo;
        display: inline-block;
        position: absolute;
        text-align: center;
        padding: 5px; }
    .footer__container-newsletter-input {
      color: #424141;
      padding: 0.7rem 1.7rem;
      padding-left: 3px;
      width: 200px;
      height: 30px; }

.svg-facebook,
.svg-twitter,
.svg-reddit {
  width: 2rem;
  height: 2rem;
  margin: 0.8rem;
  fill: grey;
  transition: all 0.2s ease; }

.svg-facebook:hover,
.svg-twitter:hover,
.svg-reddit:hover {
  fill: mediumpurple; }

.about__modal {
  position: absolute;
  margin-left: 0px;
  top: 0;
  left: 0;
  width: 30%;
  height: 100vh;
  transform: translateX(-100%);
  background-color: rgba(27, 27, 27, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #d4d3d3;
  transition: transform 0.5s ease-in; }
  .about__modal p {
    padding: 2rem;
    line-height: 2; }
  .about__modal-frame {
    position: relative;
    background-color: #49398b;
    display: flex;
    width: 80%;
    height: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px; }
  .about__modal-close {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2rem;
    margin-right: 2rem;
    padding: 0.5rem 1.2rem;
    background-color: indigo;
    color: inherit;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    cursor: pointer; }

.about-new {
  transform: translateX(10%); }

@media screen and (max-width: 786px) {
  .about-new {
    transform: translateX(50%);
    line-height: unset;
    font-size: 1rem;
    width: 40%; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

html {
  scroll-behavior: smooth; }

body {
  color: #fff;
  overflow-x: hidden; }

.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 5; }

.header-overlay {
  z-index: 10;
  color: #fff;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #49398b;
  opacity: 0.85; }

.header-overlay div {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%; }

.header-overlay p {
  font-size: 50px;
  margin-bottom: 3rem; }

.header-overlay a {
  background-color: #787978;
  color: #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-weight: 500;
  text-decoration: none; }

.header-overlay a:hover {
  opacity: 0.85;
  box-shadow: 1px 2px 2px #1f1c1c; }

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center; }

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
  object-fit: contain; }

section {
  color: black; }
