.footer{

    padding: 9rem 0;
    background-color: rgba(7, 1, 6, 0.945);
    

    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 80%;
        height: 90%;

        &> div{
           margin-left: 1rem; 
           color:#fff;
           text-transform: uppercase;

           &>p{
               font-size: 0.6rem;
               color: gray;
               padding-top: 1rem;
           }
        }

        &-menu{
            text-decoration: none;
            list-style: none;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;


            & li a{
                text-decoration: none;
                color: gray;
            }

            &-list{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                padding-top: 1rem;    
                
               
            }
        }

        &-post{
            

            &-list{
                text-decoration: none;
                list-style: none;
                color: gray;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                padding-top: 1rem; 

                & a{
                    margin-top: 1rem;
                    color: gray;

                    &:hover{
                        color: indigo;
                        opacity: 0.85;
                    }
                }
            }
        }

        &-newsletter{
            
            &-container{
                color: rgb(207, 194, 194);
                margin-top: 1rem;

                &::after{
                    content: 'Sign Up';
                    width: 70px;
                    height: 20px;
                    color: gray;
                    background-color: indigo;
                    display: inline-block;
                    position: absolute;
                    text-align: center;
                    padding: 5px;
                }
            }

            &-input{
                color:rgb(66, 65, 65);
                padding: 0.7rem 1.7rem;
                padding-left: 3px;
                width: 200px;
                height: 30px;

            }

        }
    }


}
 
.svg-facebook,
.svg-twitter,
.svg-reddit{
    width: 2rem;
    height: 2rem;
    margin: 0.8rem;
    fill: grey;
    transition: all 0.2s ease;
    
}
.svg-facebook:hover,
.svg-twitter:hover,
.svg-reddit:hover{
    fill: mediumpurple;
}